h1{
    color: #560bad;
}

/*cuando todavia no esta visitado el link*/
a:link, a:visited{
    background-color: #b5179e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

/*Cuando nos ponemos encima del link*/
a:hover, a:active{
    background-color: #f72585;
}
